.login{

    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--box{
        padding: 1rem;
        box-shadow:  0 0 #0000, 0 0 #0000, var(--tw-shadow);
        min-width: 20rem;
        min-height: 20rem;
        max-width: 25rem;
        border-radius: 1rem;
        .tabs {
            display: flex;
            border-bottom: 1px solid #eee;
            .tab{
                padding: 1rem;
                cursor: pointer;
                &.selected{
                    border-bottom: 2px solid var(--blue-color);
                    color: var(--blue-color);
                }
            }
        }
        .terms{
            text-align: center;
            padding: 0 1rem 1rem 1rem;
            a {
                color: #222;
                font-weight: 500;
                font-size: 0.8rem;
                &:hover{
                    color: var(--blue-color);
                    text-decoration: none;
                }
            }
        }  
        
    }

}