.transactions{
    .container{
        table{
            font-size: 0.9rem;
            width: 100%;
            border-collapse: collapse;
            th {
                background: #eee;
                cursor: pointer;
                .flex{
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            td, th{
                &.no-p{
                    padding: 0;
                }
                text-align: center;
                padding: 1rem;
                border: 1px solid #ccc;
                div.no-wrap {
                    white-space: nowrap;
                    cursor: pointer;
                    i{
                        font-size: 0.8rem;
                    }
                }
                .icon{
                    cursor: pointer;
                    font-size: 1.1rem;
                }
                .details{
                    position: relative;
                    text-align: left;
                    padding: 1rem;
                    font-size: 1rem;
                    background-color: #eee;
                    textarea{
                        width: 100%;
                        resize: none;
                        margin-top: 0.5rem;
                    }
                    .note{
                        color: #777;
                    }
                    .btn{
                        padding: 0.5rem 1rem;
                    }
                    div{
                        padding: 2px;
                    }
                    .close{
                        color: var(--blue-color);
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                        margin: 1rem 1rem 0 0;
                    }
                    .flex {
                        display: flex;
                        padding: 1rem;
                        align-items: flex-start;
                        gap: 1rem;
                        flex: auto;
                    }
                    .title{
                        font-weight: 700;
                        font-size: 1.1rem;
                    }
                    .subtitle{
                        font-weight: 600;
                        &.mb{
                            margin-bottom: 0.5rem;
                        }
                    }
                    .elm {
                        margin: 0.7rem 0 0.4rem 0;
                    }
                    .grid{
                        flex: auto;
                        display: grid;
                        grid-template-columns: auto auto auto auto;
                        row-gap: 0.5rem;
                        column-gap: 1rem;
                        border-left: 2px solid #222;
                        padding-left: 2rem;
                    }
                }
            }
            
            .status{
                &-Sold{
                    color: green;
                }
                &-Failed{
                    color: red;
                }
            }
         }
    
    }
    .paginate{
        padding: 2rem 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        .link{
            font-weight: 700;
            color: var(--blue-color);
            cursor: pointer;
            padding: 0.7rem 0;
            outline: none;
        }
        .input{
            display: flex;
            height: 2.5rem;
            max-width: 300px;
            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
        }
    }
}

.btn {
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

@media (max-width: 1080px){
    .transactions{
        .container{
            overflow-x: scroll;
            table{
                width: 1080px;
            }
        }
    }
}

@media (max-width: 770px){
    .transactions {
        .search{
            div{
                border-left: none;
                border-right: none;
            }
        }
    }
}

@media (max-width: 480px){
    .transactions {
        .search{
            flex-direction: column;
        }
    }
}