.ranking{

    .container{
        table{
            width: 100%;
            border-collapse: collapse;
            th {
                background: #eee;
            }
            td, th{
                text-align: center;
                padding: 1rem;
                border: 1px solid #ccc;
                div {
                    white-space: nowrap;
                    cursor: pointer;
                    i{
                        font-size: 0.8rem;
                    }
                }
            }
    
        }
    }
    .paginate{
        padding: 2rem 0;
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width: 1080px){
    .ranking{
        .container{
            overflow-x: scroll;
            table{
                width: 1080px;
            }
        }
    }
}