.profile{
    margin: 0 auto;
    max-width: 70rem;
    min-height: 100vh;
    padding: 0 2rem;
    .details{
        margin: 3rem 0;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: flex-start;
    }
}

@media (max-width: 770px){
    .profile{
        .details{
            flex-direction: column;
            align-items: center;
        }
    }
}