.button-select {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .grp {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        .btn {
            border-radius: 5px;
            text-align: center;
            min-width: 35%;
            color: var(--blue-color);
            padding: 0.5rem 1rem;
            border: 1px solid #B7E9F7;
            background-color: #DBF3FA;
            cursor: pointer;
            &:hover {
                background-color: var(--blue-color);
                color: #DBF3FA;
            }
        }
    }
    .label{
        text-align: center;
        width: 100%;
        font-weight: 500;
        color: var(--blue-color);
    }
}