.ref-form{

    .label{
        font-weight: 600;
        margin: 1rem 0 0.2rem 0;
    }
    input, select, textarea {
        width: 100%;
        margin: 0.5rem 0;
        resize: none;
        &.err{
            border: 1px solid red;
        }
    }
    .grid-2, .grid-3 {
        display: grid;
        grid-template-columns: 50% auto;
        column-gap: 1rem;
    }
    .grid-3 {
        grid-template-columns: auto auto auto;
    }
    .control{
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
    .flex {
        display: flex;
        align-items: flex-start;
        >div{
            white-space: nowrap;
        }
    }
    .toggle{
        display: flex;
        .t-btn{
            cursor: pointer;
            padding: 0.5rem 1rem;
            font-weight: 600;
            border: 1px solid var(--dark-blue);
            &:first-child{
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                border-right: none;
            }
            &:last-child{
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
            &.selected{
                background-color: var(--blue-color);
                color: #fff;
            }
        }
    }
}

.slider {
    width: 100%;
    --sliderPrimary: var(--green);
    --sliderSecondary: rgba(0, 0, 0, 0.05);
    margin: 1.2rem 1rem 1rem 0;
}

.error{
    padding: 0;
}

.err {
    border: 1px solid red;
}