.search-input {
    min-width: 15rem;
    width: 100%;
    .input{
        border: 1px solid #aaa;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        width: 100%;
        padding: 0 0.5rem;
        margin: 0;
        height: 100%;
        &:focus {
            outline: none;
        }
    }
}


@media(max-width: 770px){
    .search-input {
        width: 100%;
        .input{
            border: 1px solid #aaa;
            border-radius: 0.5rem;
            padding: 0.5rem;
        }
    }
}