.search-bar {
    display: flex;
    background-color: #eee;
    border-radius: 0.5rem;
    &--btn{
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0 1rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border: 1px solid #aaa;
        .mobile{
            display: none;
        }
    }
}

@media(max-width: 770px){
    .search-bar {
        padding: 1rem;
        flex-direction: column;
        background-color: transparent;
        gap: 1rem;
        &--btn {
            border-radius: 0.5rem;
            background-color: var(--blue-color);
            border: 1px solid var(--blue-color);
            color: #fff;
            padding: 0.5rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            box-shadow:  0 0 #0000, 0 0 #0000, var(--tw-shadow);
            .mobile{
                display: inline;
            }
        }
    }
}