html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}



* {
    -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
			animation: fadein 0.3s;
	
	-webkit-tap-highlight-color: transparent;
			  
    
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: grab;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #222;
}


.error, .success {
	padding: 5rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.error {
	color: red;
}
.success {
	color: green;
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

.btn{
	font-size: 1.1rem;
	font-weight: 700;
	color: #fff;
	background-color: var(--dark-blue);
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}
.btn.sm {
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.25rem 0.5rem;
}
.btn.disabled{
	opacity: 0.5;
	cursor: not-allowed;
}
.btn.btn-yellow{
	background-color: var(--yellow-color);
	color: #212529;
}
.btn:hover{
	opacity: .9;
}
.btn.disabled{
	opacity: 0.5;
	cursor: not-allowed;
}
.btn.green{
	background-color: var(--green);
}
.btn.red{
	background-color: var(--red);
}