.contact-lead{
    max-width: 30rem;
    box-shadow:  0 0 #0000, 0 0 #0000, var(--tw-shadow);
    .complete{
        font-size: 1.2rem;
        padding: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: var(--blue-color);
    }
}